<div class="error-wrapper">
    <div class='error'>
        {{> Typography class='error-title' tag='span' text='404'}}
        {{> Typography class='error-text' tag='span' text='Не туда попали'}}
        {{> Link href='/unexpected-error' text='Назад к чатам'}}
    </div>
</div>
