<div class="chat-wrap">
  <div class="chat-list">
    <div class="chat-list__link">{{> Link href='/profile' text='Профиль >' class='chat-list__link_grey'}}</div>
    {{{ Search placeholder='Поиск' type='text' name='search' id='search' class='chat-list__search'}}}
    {{> ChatItem }}
  </div>
  <div class="chat">
    <div class="chat-header">
      <div class="chat-header__user-info">
        {{> Avatar class='avatar-chat' image='photo.svg'}}
        {{> Typography tag='span' text='User' class='chat-header__user-name'}}
      </div>
      <div class="chat-header__menu-wrap">
        <div class="chat-header__menu"></div>
        <div class="chat-header__menu"></div>
        <div class="chat-header__menu"></div>
      </div>
    </div>
    <div class="messages">
      <div class='messages__date'>
        {{> Typography tag='span' class='messages-date' text='19 июня' }}
      </div>
      {{> Message class='message' text='Привет! Смотри, тут всплыл интересный кусок лунной космической истории — НАСА в
      какой-то момент попросила Хассельблад адаптировать модель SWC для полетов на Луну. Сейчас мы все знаем что
      астронавты летали с моделью 500 EL — и к слову говоря, все тушки этих камер все еще находятся на поверхности Луны,
      так как астронавты с собой забрали только кассеты с пленкой.

      Хассельблад в итоге адаптировал SWC для космоса, но что-то пошло не так и на ракету они так никогда и не попали.
      Всего их было произведено 25 штук, одну из них недавно продали на аукционе за 45000 евро.'
      time='11:56'}}
      {{> Message class='my-message' text='Круто!' time='12:00' message-wrapper='message-wrapper' }}

      {{> Message class='message' text='Привет! Смотри, тут всплыл интересный кусок лунной космической истории — НАСА в
      какой-то момент попросила Хассельблад адаптировать модель SWC для полетов на Луну. Сейчас мы все знаем что
      астронавты летали с моделью 500 EL — и к слову говоря, все тушки этих камер все еще находятся на поверхности Луны,
      так как астронавты с собой забрали только кассеты с пленкой.

      Хассельблад в итоге адаптировал SWC для космоса, но что-то пошло не так и на ракету они так никогда и не попали.
      Всего их было произведено 25 штук, одну из них недавно продали на аукционе за 45000 евро.'
      time='11:56'}}
      {{> Message class='my-message' text='Круто!' time='12:00' message-wrapper='message-wrapper' }}

      {{> Message class='message' text='Привет! Смотри, тут всплыл интересный кусок лунной космической истории — НАСА в
      какой-то момент попросила Хассельблад адаптировать модель SWC для полетов на Луну. Сейчас мы все знаем что
      астронавты летали с моделью 500 EL — и к слову говоря, все тушки этих камер все еще находятся на поверхности Луны,
      так как астронавты с собой забрали только кассеты с пленкой.

      Хассельблад в итоге адаптировал SWC для космоса, но что-то пошло не так и на ракету они так никогда и не попали.
      Всего их было произведено 25 штук, одну из них недавно продали на аукционе за 45000 евро.'
      time='11:56'}}
      {{> Message class='my-message' text='Круто!' time='12:00' message-wrapper='message-wrapper' }}
    </div>
    {{{MessageInput}}}
  </div>
</div>
