<div class="profile">
    {{> ButtonReturn path='/profile'}}
    <form class="profile-field">
        {{> Avatar class='avatar-edit'}}
        {{> Input placeholder='Старый пароль' type='password' name='password' full=true id='edit-pass'}}
        {{> Input placeholder='Новый пароль' type='password' name='password' full=true id='edit-new-pass'}}
        {{> Input placeholder='Повторите новый пароль' type='password' name='password' full=true id='edit-old-pass'}}
        {{> Button text='Сохранить' type='submit' class='password-edit-button'}}
    </form>
</div>