<div class="profile">
    {{> ButtonReturn path='/profile'}}
    {{#Form class="profile-field" type='profile' onSubmit=onSaveChanges}}
        {{> Avatar class='avatar-edit'}}
        {{{ FormField placeholder='Старый пароль' type='password' name='password' ref='password' full=true id='edit-pass'}}}
        {{{ FormField placeholder='Новый пароль' type='password' name='password' ref='password' full=true id='edit-new-pass'}}}
        {{{ FormField placeholder='Повторите новый пароль' type='password' name='password' ref='password' full=true id='edit-old-pass'}}}
        {{{ Button text='Сохранить' type='submit' class='password-edit-button'}}}
    {{/Form}}
</div>
