{{#Dialog open=isOpen}}
<form method="dialog">
    <h4>Удалить пользователя из чата</h4>
    {{{ ChatFormField label="ID пользователя" name="remove_user_id" ref="removeUserID" isActive="true"}}}
    {{{ ApiErrorMessage }}}
    <div>
        {{{ ChatButton
        label="Удалить"
        type="submit"
        style="primary"
        onClick=onRemoveUser
        }}}
        {{{ ChatButton
        label="Отменить действие"
        type="button"
        style="secondary"
        onClick=onClose
        }}}
    </div>
</form>
{{/Dialog}}
