<label class="file-input__container">
        <span class="file-input__text">{{label}}</span>
        {{{ChatInput className="file-input" type="file" ref="fileInput" onChange=onSelectFile isActive="true"}}}
</label>
