<div class="popup">
    <div class="popup__form">
        {{> Typography tag='span' text='Загрузите файл' class='popup__text'}}
        <input type="file" class="popup__input">
        {{{ Button text='Поменять' type='submit' class='popup__button' }}}
    </div>
</div>
