<div class="chat-item">
    {{> Avatar class='avatar-chatItem' image='../../static/images/photo.svg'}}
    <div class="chat-item__field">
        <div class="chat-item__info">
            {{> Typography tag='span' text='User' class='chat-item__user-name'}}
            {{> Typography tag='span' text='Message' class='chat-item__message'}}
        </div>
        <div class="chat-item__additional-info">
            {{> Typography tag='span' text='10:00' class='chat-item__message-time'}}
            {{> Typography tag='span' text='1' class='chat-item__message-count'}}
        </div>
    </div>
</div>
<div class="chat-item">
    {{> Avatar class='avatar-chatItem'}}
    <div class="chat-item__field">
        <div class="chat-item__info">
            {{> Typography tag='span' text='User' class='chat-item__user-name'}}
            {{> Typography tag='span' text='Message' class='chat-item__message'}}
        </div>
        <div class="chat-item__additional-info">
            {{> Typography tag='span' text='10:00' class='chat-item__message-time'}}
            {{> Typography tag='span' text='1' class='chat-item__message-count'}}
        </div>
    </div>
</div>
