<div class="error-wrapper">
    <div class='error'>
        {{> Typography class='error-title' tag='span' text='500'}}
        {{> Typography class='error-text' tag='span' text='Мы уже фиксим'}}
        {{> Link href='/page-not-found' text='Назад к чатам'}}
    </div>
</div>