<div class="avatar {{class}}">
    {{#if image }}
        <img class="avatar-img" src="{{image}}" alt="{{alt}}">
    {{else}}
        <img src="../../static/images/avatar.svg" alt="avatar">
    {{/if}}
</div>