<div class="avatar {{class}}">
    {{#if src }}
      <img class="avatar-img" src="{{src}}" alt="{{alt}}">
    {{else}}
        <img src="src/static/images/avatar.svg" alt="avatar" />
    {{/if}}
</div>
