{{#Dialog open=isOpen}}
<form method="dialog">
    <h4>Создать новую переписку</h4>
    {{{ ChatFormField label="Название чата" name="chat_title" ref="chatTitle" isActive="true"}}}
    {{{ ApiErrorMessage }}}
    <div>
        {{{ ChatButton
        label="Cоздать"
        type="submit"
        style="primary"
        onClick=onCreateChat
        }}}
        {{{ ChatButton
        label="Отменить"
        type="button"
        style="secondary"
        onClick=onClose
        }}}
    </div>
</form>
{{/Dialog}}
