.link {
  color: #3369F3;
  font-size: 11px;

  &-profile {
    font-size: 13px;
    color: rgb(51 105 243);
    border-bottom: 1px solid #EAEAEA ;
    padding: 10px 0;
    width: 510px;
  }

  &-exit {
    font-size: 13px;
    color: rgb(255 0 0);
    padding: 10px 0;
    width: 510px;
  }
}
